/* Importando fontes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

/* Variáveis */

:root {
    --cor-fundo: #000000;
    --cor-texto: #f6f6f6;
    --cor-destaque: #c20505;
    --cor-button: rgba(255, 0, 0, 0.5);
    --fonte-titulo: font-family: 'Montserrat', sans-serif; 
    --fonte-paragrafo: font-family: 'Open Sans', sans-serif;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Corpo */

body {
    background-color: var(--cor-fundo);
}

/* Cabeçalho */

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

#cabecalho-titulo {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 4.6rem;
    font-weight: 400;
}

#cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

/* Menu */

.menu-link {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    font-weight: 700;
}

.menu-link:hover {
    color: var(--cor-destaque);
    border-bottom: 1px solid var(--cor-destaque);
    transition: 0.5s;
}

#menu-login {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    font-weight: 700;
    border: 2px solid var(--cor-destaque);
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
}

#menu-login:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    transition: 0.3s;
}

/* Main */

#principal {
    display: flex;
    flex-direction: row;
    padding: 6rem 2.4rem;
    border-top: 1px solid var(--cor-texto);
    justify-content: space-between;
}

#conteudo {
    display: flex;
    flex-direction: column;
}

#conteudo-titulo {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 4.8rem;
    font-weight: 400;
    max-width: 40rem;
}

#conteudo-titulo strong {
    color: var(--cor-destaque);
}

#conteudo-texto {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    line-height: 2rem;
    max-width: 50rem;
    padding-top: 2rem;
}

/* Formulario */

#formulario {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

#formulario label {
    display: none;
}

.formulario-input {
    font-weight: bolder;
    border: 2px solid var(--cor-destaque);
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    max-width: 70%;
} 

#formulario-button {
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    font-weight: bolder;
    padding: 1rem;
    margin-top: 0.5rem;
    max-width: 30%;
    border-radius: 1.5rem;
    border: none;
}

#formulario-button:hover {
    cursor: pointer;
    background-color: var(--cor-button);
}

/* Imagem */

#imagem {
    height: 40rem;
    width: 70rem;
    border: 3px solid var(--cor-destaque);
}